/*
******COLOR PALLET******
Ash gray: #a7c4b5
Chinese Violet: #805e73
Dark Gray: #242327
Charcoal: #2d4654
Dark Navy/Black: #101b22
*/

/* Global Styles
-------------------------------*/
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    color: #101b22;
    background: #a7c4b5;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}
h1, h2, h3{
    font-family: 'Merriweather';
}
img{
    width: 300px;
}
a{
    color: #a7c4b5;
    font-family: 'Cairo';
}
a:hover{
    text-decoration: none;
}
h2{
    margin: 0;
}
.content-wrap{
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}


/* Profile
-------------------------------*/
header{
    background: #805e73;
    color: #2d4654;
}


/* Projects
-------------------------------*/
.projects{
    background: #2d4654;
    color: #805e73;
}
.projects .btn{
    color: #805e73;
    background-color: #a7c4b5;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.project-item{
    overflow: hidden;
    border-bottom: 1px dashed #101b22;
    padding: 25px 0;
}
.project-item img{
    float: left;
    margin-right: 20px;
}
.project-item h3{
    margin-top: 0;
}


/* Work Experience
-------------------------------*/
.work-experience{
    background: #805e73;
    color: #2d4654;
}
.work-item{
    border-bottom: 1px dashed #101b22;
    padding: 25px 0;
}


/* Education
-------------------------------*/
.education{
    background: #2d4654;
    color: #805e73;
}
.education-item{
    border-bottom: 1px dashed #101b22;
    padding: 25px 0;
}


/* Contact Info
-------------------------------*/
footer{
    background: #805e73;
    color: #2d4654;
    padding: 10px 20px;
}
/*footer a{}*/
footer .btn{
    color: #a7c4b5;
    background-color: #242327;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
}
footer .btn:hover{
    background: rgba(167, 196, 181, 80%);
    color: #2d4654;
}